$bg-color-dark: #2C2D2F;
$bg-color-light: #FFF8EF;
$bg-color-accent: #FF8C00;
$bg-color-card: #3E4348;
$text-color-light: #FFFFFF;
$text-color-muted: #A2A5A9;
$box-shadow: 0 4px 6px rgba(10, 11, 12, 0.5), 0 -4px 6px rgba(10, 11, 12, 0.5), 4px 0 6px rgba(10, 11, 12, 0.5), -4px 0 6px rgba(10, 11, 12, 0.5);

html, body, #root {
    background-color: $bg-color-dark;
}

.App {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 30px 0;
}

.button--generic {
    border-radius: 5px;
    border: 1px solid $bg-color-light;
    background-color: $bg-color-accent;
    color: $bg-color-light;
    font-size: 14px;
    padding: 5px 10px;
    height: fit-content;
    transition: background-color 0.3s, border-color 0.3s;

    &:hover {
        background-color: darken($bg-color-accent, 10%);
    }
}

.home__page {
    display: flex;
    grid-column: 3 / span 8;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    justify-content: center;
    background-color: $bg-color-card;
    box-shadow: $box-shadow;

    .page__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .header__title {
            color: lighten($text-color-muted, 10%);
        }
    }

    .page__filters, .page__content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .page__filters {
        justify-content: flex-start;
    }
}

.task__card {
    border-radius: 10px;
    background-color: $bg-color-card;
    box-shadow: $box-shadow;
    padding: 10px 15px;
    margin-bottom: 5px;

    .card__header {
        display: flex;
        justify-content: space-between;

        .card__title {
            color: $text-color-light;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .card__button {
            background: url('./Images/delete.svg') no-repeat center / contain, $bg-color-card;
            height: 30px;
            width: 30px;
            border: none;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .card__content {
        p {
            color: $text-color-muted;
            margin: 0 0 5px;
        }
    }

    &:last-of-type {
        margin: 0;
    }
}

.task__list {
    background-color: darken($bg-color-dark, 10%);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-right: 5px;

    .list__title {
        color: lighten($text-color-muted, 10%);
        margin: 0 0 20px 0;
        padding: 0;
    }

    &:last-of-type {
        margin: 0;
    }
}

.tasks__sort, .filter__sort {
    margin-bottom: 10px;

    .dropdown__selected {
        font-size: 14px;
        color: $text-color-light;
        padding-left: 10px;
    }

    .sort__title {
        color: $text-color-muted;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .sort__dropdown {
        display: flex;
        align-items: center;
        background-color: $text-color-muted;
        border: 1px solid $text-color-light;
        border-radius: 5px;
        width: 160px;
        height: 18px;
        position: relative;

        .dropdown__options {
            position: absolute;
            background-color: $text-color-muted;
            border: 1px solid $text-color-light;
            border-top: none;
            border-radius: 0 0 5px 5px;
            width: 162px;
            top: 15px;
            left: -1px;
            padding: 8px;
            box-sizing: border-box;

            .option {
                margin: 0;
                font-size: 14px;
                color: $text-color-light;
                border-bottom: 1px solid $text-color-light;
                padding: 5px 0;
                cursor: pointer;

                &:last-of-type {
                    border: none;
                }
            }
        }

        .dropdown__arrow {
            position: absolute;
            right: 5px;
            height: 18px;
            fill: $text-color-light;
            transform: rotate(180deg);
            transition: transform 0.3s ease;
            cursor: pointer;
        }

        .dropdown__arrow.rotated {
            transform: rotate(180deg);
        }
    }
}

.tasks__sort {
    .sort__dropdown {
        display: none;
    }
}

.filter__sort {
    margin-right: 20px;
}

.task__add {
    width: 500px;
    height: 500px;

    .task__card {
        height: inherit;
        padding: 30px;

        .date__field {
            display: flex;
            justify-content: flex-start;
        }

        .imput__field {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .text__label {
                position: absolute;
                top: 5px;
                right: 5px;
                margin-bottom: 10px;

                img {
                    width: 22px;
                }
            }

            .text__label.date {
                position: relative;
                flex-basis: 100%;
                color: $text-color-light;
                font-size: 16px;
                padding-left: 5px;
            }

            .text__field {
                color: $text-color-light;
                font-size: 16px;
                background-color: $bg-color-card;
                border: none;
                border-bottom: 1px solid rgba(10, 11, 12, 0.5);
                padding: 5px 10px;
                border-radius: 5px;
                outline: none;

                &.title {
                    font-size: 20px;
                    margin-bottom: 30px;
                }

                &:focus {
                    box-shadow: inset $box-shadow;
                }
            }

            .radio {
                margin-left: 10px;
                appearance: none;
                width: 15px;
                height: 15px;
                background-color: $bg-color-light;
                border: 2px solid $bg-color-accent;
                border-radius: 5px;
                outline: none;
                cursor: pointer;
                transition: background-color 0.3s, border-color 0.3s;

                &:checked {
                    background-color: $bg-color-accent;
                    border-color: $bg-color-light;
                }
            }

            .radio__label {
                color: $text-color-light;
            }
        }

        .card__content .details {
            display: block;
        }
    }
}

.popup__cover {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    background-color: rgba(0, 0, 0, 0.5);
}
